:root {
  --blue-color: #2867BF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12pt;
  line-height: 1.4;
  font-family: "Source Sans Pro", sans-serif;
  margin: 12mm;
}

input, select, textarea, button {
  font-family: inherit;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  margin-left: 20px;
}

/* 

    LAYOUT

*/

@page {
  size: A4;
  margin: 0;
}

.section-title {
  margin-top: 20px;
  color: var(--blue-color);
  padding-bottom: 2px;
  border-bottom: 2px solid var(--blue-color);
  margin-bottom: 8px;
  font-size: 16pt;
}

.highlight {
  margin-top: 12px;
}

.highlight-title-wrapper {
  display: flex;
  align-items: center;
}

.highlight-title {
  font-size: inherit;
}

.highlight-subtitle {
  margin-left: 4px;
  font-weight: normal;
}

/* 

    SPECIFIC CHANGES

*/

#profile .name {
  text-align: center;
  font-size: 2em;
}

#profile .position {
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.contact-info > * {
  margin: 0 12px;
}

.contact-info i {
  margin-right: 4px;
}

.skill-stack {
  margin-top: 4px;
}

#applications ul {
  margin-top: 2px;
}

#applications :is(a, a:visited) {
  color: var(--blue-color);
  text-decoration: underline;
}

#applications strong {
  font-weight: 600;
}

.experience header .company {
  margin-left: 4px;
}

.dates {
  margin-left: auto;
}