* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

input, select, textarea, button {
  font-family: inherit;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

@page {
  size: 8.5in 11in; /* US letter size */
}

.divider {
  margin: 0 4px;
}

li {
  padding-left: 20px;
}

:is(.application, .experience) header * {
  font-size: inherit;
}

section h2 {
  padding-bottom: 2px;
  border-bottom: 2px solid lightblue;
  margin-bottom: 8px;
}

/* 

    HEADER

*/

.contact-info {
  display: flex;
}

/* 

    TECHNICAL SKILLS

*/

/* 

    APPLICATIONS DEVELOPED

*/

.application header {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.application h3 {
  margin-right: 4px;
}

/* 

    PROFESSIONAL EXPERIENCE

*/

.experience header {
  display: flex;
  align-items: center;
}

.experience header .company {
  margin-left: 4px;
}

.experience header .dates {
  margin-left: auto;
}